*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 100px;
}



body{
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}

/*Nav bar stuff*/
nav{
  width: 100%;
  height: 67px;
  background-color: #d3d3d3;
  position: fixed;
  top: 0;

}

nav ul{
  float: left;
  padding: 0px 20px;

}

nav ul li{
  float: left;
  list-style-type: none;
  /*needed to use position absolute later */
  position: relative;
}

nav ul li:hover{
  background-color: #f3f3f3;
}

nav ul li a{
  display: block;
  font-family: arial;
  color: #222;
  font-size: 20px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul{
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  padding: 10px;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li{
  width: 100%;
}

nav ul li ul li a{
  padding: 12px 14px;
}

nav ul li ul li a:hover{
  padding-right: 20px;
  background-color: #f3f3f3;
}


/*Character list image list */
.char_list a{
  color: black;
}

.char_list{
  margin: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.character{
  font-family: sans-serif;
  margin: 3px;
  list-style-type: none;
  border: 3px;
  border-style: solid;
  border-color: black;
  font-size: 20px;
  width: 200px;
  text-align: center;
  background-color: #D3D3D3;
}

img{
  height: 100px;
}

.char_list a:hover{
  text-decoration: underline;
  color: blue;
}

/*Gif and information */
.gifs{
  /*TODO Make responsive images, look at web modolue */
/*  height: 400px; */
width: 90%;
height: 20%;
margin: 10px 10px 10px 30px;


}

h4{
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 30px;

}

h3{
  margin: 20px;
  font-family: sans-serif;

}

.info_list{
  list-style-type: none;
  font-family: sans-serif;

}

ul li p{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.info_list li{
  padding-top: 30px;
}

/*Quiz Stuff */

#quiz{
margin-top: 50px;
margin-left: 20px;
font-family: sans-serif;
font-size: 20px;
}

.answers label{
  display: block;
}

.question{
  font-weight: bold;
  margin-top: 20px;
}

#submit{
  margin-left: 20px;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 20px;
  padding: 15px;

}

#results{
  margin-left: 20px;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}
